@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
  --blue: #516091;
  --lightBlue: #74BEC1;
  --green: #ADEBBE;
  --yellow: rgb(238, 243, 173);
  --yellow2: rgb(242, 243, 223);
  --yellow3: rgb(218, 222, 142);

  font-family: 'Itim', cursive;  ;
}
body{
  margin: 0 0 5em 0;
  background-color: var(--lightBlue);
}