@import "./../../index.css";

.barsContainer{
    position: fixed;
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    /* Ocultamos bars */
    transform: translate(100%);
    transition: all .5s;
}
.barsContainer .show{
    transform: translate(0%);
    transition: all .5s;
}

.barsContainer ul{
    background-color: var(--blue);
    height: 100%;
    padding: 0%;
    margin: 0%;
    /* z-index: 6; */
}
.barsContainer .barsMenu{
    margin-top: 20%;
    z-index: -6;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    padding: 0%;
    color: aliceblue;
}
.barsContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 0%;
    color: aliceblue;
    font-size:x-large;
    width: 100%;
}
.barsContainer ul a:hover{
    cursor: pointer;
    border: 1px solid;
}


.fa-angles-right{
    color: white;
    font-size: 2em;
    position: absolute;
    top: 1em;
    right: 2em;
}


@media screen and ( width > 650px ){
    .barsContainer{
        display: none;
    }
}

@media screen and ( width < 650px ){
    .barsContainer .barsMenu{
        margin-top: 35%;
    }
}
@media screen and ( width < 500px ){
    .barsContainer .barsMenu{
        margin-top: 50%;
    }
}