@import "./../../index.css";

.navContainer{
    background-color: var(--blue);
    color: aliceblue;
    box-shadow: 0px 2px 5px var(--blue);
    display: flex;
    justify-content: space-between;
}
.navContainer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.navContainer li{
    padding:2em;
}

.navContainer a{
    text-decoration: none;
    color: inherit;
}
.navContainer a:hover{
    cursor: pinter;
    border: 1px solid;
}

img{
    width: 150px;
    height: auto;
    /* border-radius: 5px; */
}